/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,100);
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

@media screen and (min-width: 0em) {
  body nav {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    height: 2em;
    background-color: #d71921; }
    body nav:before, body nav:after {
      content: '';
      display: table; }
    body nav:after {
      clear: both; }
    body nav:last-child {
      margin-right: 0%; }
    body nav img {
      height: 1.7em;
      *zoom: 1;
      width: auto;
      max-width: 1410px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0.2em; }
      body nav img:before, body nav img:after {
        content: '';
        display: table; }
      body nav img:after {
        clear: both; }
  body aside {
    display: none; }
  body article {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: white;
    min-height: 100vh; }
    body article:before, body article:after {
      content: '';
      display: table; }
    body article:after {
      clear: both; }
    body article div.cover img {
      width: 100%; }
    body article header {
      background-color: #efefef; }
      body article header ul.sort1 li {
        padding-left: 0.1em;
        padding-right: 0.1em;
        display: inline-block;
        border: 1px solid #d71921;
        -webkit-border-radius: 0.35em;
        -moz-border-radius: 0.35em;
        -ms-border-radius: 0.35em;
        border-radius: 0.35em;
        margin: 0.2em; }
    body article div.below_header {
      margin-bottom: 3em;
      width: 98%;
      margin: 0 auto;
      margin-bottom: 2.5em; }
      body article div.below_header div.sort2 li {
        display: inline-block;
        margin-left: 0.5em;
        float: right; }
      body article div.below_header div.sort2 li:active {
        text-decoration: underline; }
      body article div.below_header input {
        width: 100%;
        margin-top: 0.5em;
        border: none;
        border-bottom: 1px solid gray;
        height: 2em; }
    body article section div.album {
      padding: 1em;
      *zoom: 1; }
      body article section div.album h3 {
        font-weight: 100;
        padding-bottom: 1em; }
      body article section div.album:before, body article section div.album:after {
        content: '';
        display: table; }
      body article section div.album:after {
        clear: both; }
      body article section div.album div {
        *zoom: 1;
        float: left;
        display: inline;
        clear: none;
        padding-left: 0;
        padding-right: 0;
        text-align: inherit;
        width: 33.33333%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 1em; }
        body article section div.album div:before, body article section div.album div:after {
          content: '';
          display: table; }
        body article section div.album div:after {
          clear: both; } }
      @media screen and (min-width: 0em) and (max-width: 420px) {
        body article section div.album div {
          *zoom: 1;
          float: left;
          display: inline;
          clear: none;
          padding-left: 0;
          padding-right: 0;
          text-align: inherit;
          width: 50%;
          margin-left: 0%;
          margin-right: 0%; }
          body article section div.album div:before, body article section div.album div:after {
            content: '';
            display: table; }
          body article section div.album div:after {
            clear: both; } }
@media screen and (min-width: 0em) {
        body article section div.album div div.img_box img.avatar {
          width: 100%;
          cursor: pointer; }
        body article section div.album div div.img_box {
          position: relative;
          width: 90%; }
        body article section div.album div div.imagetext * {
          vertical-align: top;
          display: inline-block;
          margin-right: 0.3em; }
        body article section div.album div div.imagetext {
          visibility: hidden;
          position: absolute;
          bottom: 0;
          left: 0;
          margin-bottom: 0.2em;
          width: 100%;
          font-weight: 100;
          font-size: 0.8em;
          background-color: none;
          color: black;
          box-sizing: border-box;
          opacity: 1;
          transition: opacity 0.5s linear; }
        body article section div.album div div.img_box:hover div.imagetext {
          visibility: visible;
          background: rgba(0, 255, 255, 0.5);
          -moz-transition: background .3s linear;
          -webkit-transition: background .3s linear;
          -o-transition: background .3s linear;
          transition: background .3s linear; }
        body article section div.album div h3 {
          width: 90%;
          font-weight: 400;
          padding-bottom: 0; }
        body article section div.album div div.social * {
          vertical-align: top;
          display: inline-block;
          margin-right: 0.3em; }
        body article section div.album div div.social {
          margin-bottom: 0.2em;
          width: 90%;
          font-weight: 100;
          font-size: 0.8em;
          background-color: #fbfbfb;
          color: black;
          box-sizing: border-box; }
          body article section div.album div div.social img {
            width: 1.3em; }
          body article section div.album div div.social h6 {
            font-weight: 400;
            font-size: 0.9em; }
        body article section div.album div div.meta {
          box-sizing: border-box;
          font-size: 1em;
          background-color: #fbfbfb;
          color: black;
          width: 90%;
          margin-bottom: 0.2em; } }
@media screen and (min-width: 64.063em) {
  body aside {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 15%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: #efefef;
    min-height: 100vh; }
    body aside:before, body aside:after {
      content: '';
      display: table; }
    body aside:after {
      clear: both; }
  body article {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 70%;
    margin-left: 0%;
    margin-right: 0%;
    min-height: 100vh; }
    body article:before, body article:after {
      content: '';
      display: table; }
    body article:after {
      clear: both; }
    body article div.cover img {
      width: 100%; }
    body article header {
      box-shadow: 0 0 0.125em 0 black;
      padding: 1em; }
      body article header ul.sort1 li:hover {
        background-color: #d71921;
        -webkit-border-radius: 0.15em;
        -moz-border-radius: 0.15em;
        -ms-border-radius: 0.15em;
        border-radius: 0.15em;
        color: white; }
      body article header ul.sort1 li {
        border: none;
        margin: 0em;
        cursor: pointer; }
    body article div.below_header {
      margin: 0 auto;
      margin-bottom: 1.5em;
      *zoom: 1;
      float: left;
      display: inline;
      clear: none;
      padding-left: 0;
      padding-right: 0;
      text-align: inherit;
      width: 100%;
      margin-left: 0%;
      margin-right: 0%; }
      body article div.below_header:before, body article div.below_header:after {
        content: '';
        display: table; }
      body article div.below_header:after {
        clear: both; }
      body article div.below_header div.sort2 {
        float: right; }
        body article div.below_header div.sort2 li {
          padding-left: 0.1em;
          padding-right: 0.1em;
          display: inline-block;
          cursor: pointer;
          border: 2px solid #d71921;
          border-radius: 0 0 0.5em 0.5em;
          text-decoration: none; }
        body article div.below_header div.sort2 li:hover {
          color: white;
          background-color: #d71921; }
        body article div.below_header div.sort2 li:active {
          text-decoration: none; }
      body article div.below_header input {
        background: white url(http://i.imgur.com/lFkqn.png) left center no-repeat;
        padding-left: 2em;
        width: auto;
        margin-top: 0.5em;
        margin-left: 0.5em;
        height: 2em;
        border: none;
        border-bottom: 1px solid gray; }
    body article section div.album div {
      *zoom: 1;
      float: left;
      display: inline;
      clear: none;
      padding-left: 0;
      padding-right: 0;
      text-align: inherit;
      width: 25%;
      margin-left: 0%;
      margin-right: 0%; }
      body article section div.album div:before, body article section div.album div:after {
        content: '';
        display: table; }
      body article section div.album div:after {
        clear: both; } }
